# Enforce LF line endings for cross-platform compatibility between macOS and Ubuntu
* text=auto eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
